*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.formdiv{
    height: 90vh;
    width: 40%;
    background: rgba(255, 255, 255, 0.329);
}